.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.title {
  margin: 0;
  padding-bottom: 0.4rem;
}

#search-input {
  width: 99%;
  height: 1.5rem;
}

.tab-list {
  list-style-type: none;
  padding: 0;
}

.tab-item {
  padding: 0.4rem;
  border-bottom: 1px solid #b3b4b5
}

.tab-item-selected {
  background: #b4c7ff;
}

.tab-item:last-child {
  border-bottom: none;
}

.tab-item-inner {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.tab-item-upper-row {
  display: flex;
  align-items: center;
}

.tab-item-lower-row {
  display: flex;
  padding-top: 0.3rem;
}

.tab-item-favicon {
  width: 24px;
  height: 24px;
  max-height: 24px;
}

.tab-item-title {
  margin-left: 1rem;
}

.tab-item-url {
  font-size: 0.8rem;
}

.popup {
  font-family: 'Dank Mono', 'Futurice', 'Hasklig', monospace !important;
  margin: 5rem auto;
  padding: 1rem;
  background: #f3f3f3;
  border: 1px solid #666;
  width: 60%;
  max-width: 480px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 999999 !important;
}
